.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 60vh;
}

.grid_item_1 {
 /* grid-column-start: 1;
 grid-column-end: 3; */
 grid-column: span 3;
}

/* .grid_item_2 {
    grid-row-start: 1;
    grid-row-end: 3;
} */